DATABASE_URL="postgresql://neondb_owner:npg_8bGkKINv9xHY@ep-patient-boat-ac4ea7gz.sa-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="minhasenhasuperseguradohackathon123"
JWT_EXPIRES_IN="1d"
PORT=3000
